html(lang="en")
    head
        title Bootstrap Example
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    body
        .jumbotron.text-center
            h1 Poll #
                span= poll.id
            p Created by: 
                a(href="../../user/handle/"+poll.handle)= poll.handle
        .container
            .row
                .col-sm-12
                    h3 Question
                    .well.text-center
                        h4
                            strong= poll.question
                br
            .row
                .col-sm-12
                    h3 Answer Options
                    .col-sm-12
                        each answer in poll.answers
                            .row.well
                                .col-sm-6.text-center
                                    h4
                                        strong= answer
                                .col-sm-6.text-center 
                                    button(class="btn btn-info" id=answer type="button") Cast vote
            //vote results
            if vote
                .row
                    .col-sm-12
                        h3 Results
                        .col-sm-12
                            p= vote.count
                            each v in vote.votes
                                p= v.vote
                                p= v.handle
            