html(lang="en")
    head
        //icons
        link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
        link(rel='manifest', href='/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
        meta(name='theme-color', content='#ffffff')
        
        title Poll: #{poll.id} | QuantiPoll
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        
        //charts
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js")
        
        
          
    body
        .jumbotron.text-center
            h1 Poll #
                span= poll.id
            p Created by: 
                a(href="../../user/handle/"+poll.handle)= poll.handle
        .container
            .row
                .col-sm-12
                    h3 Question
                    .well.text-center
                        h4
                            strong= poll.question
                br
            
            //vote results
            if voted
                .container-fluid
                    .row
                        h3 Answer Options
                        .col-sm-12.text-center.well
                            each answer, index in poll.answers    
                                strong #{index}:
                                |  #{answer}
                                br
                    .row
                        .col-sm-6
                            h3 Results
                            p Total Votes: #{votes[0]}
                            
                            each v, index in votes[1]
                                p
                                    a(href="/user/handle/"+v.handle)= v.handle
                                    |  voted for: (
                                    strong #{v.vote}
                                    | )
                                    i  #{poll.answers[v.vote]}
                        .col-sm-6.text-center
                            h3 Vote Distribution
                            canvas(id="QuantiPoll")
            else
                .row
                    input(type='hidden', name="pollid", value=poll.id)
                    .col-sm-12
                        h3 Answer Options
                        .col-sm-12
                            each answer, index in poll.answers
                                .row.well
                                    .col-sm-6.text-center
                                        h4
                                            strong= answer
                                    .col-sm-6.text-center
                                        input(type='hidden', name="vote", value=index)
                                        button.btn.btn-info(type="button") Cast Vote
                                        br                    
            script.
                var analytics =!{JSON.stringify(quantipoll)};  
            script(src="../../js/votes.js", type="text/javascript")
            
            include nav